
body {
    background-color: #FAFAFA;
    color: #0A0E14;

    padding: 0px;
    margin:0px;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
    min-width: 320px;
}

a {
    text-decoration:none;
    color: #0A0E14;
}
hr {
    background-color:#444;
    border:0px;
    height: 1px;
    opacity: .6;
}

.backLink {
    display: block;
    background-color: #0A0E14;
    color:#FAFAFA;
    font-family: "Raleway","Helvetiva Neue","Arial";
    opacity: .85;
    border-radius: 3px;

    position: absolute;
    top:15px;
    left:15px;
    padding: 10px 15px;
}

.backLink i{
    margin-right: 5px;
}

/*---------------MAIN--------------*/

.header {
    width: 70%;
    margin: 0px auto;
    display: block;

}
.header h1 {
    text-align: center;
    font-weight: 300;
    font-size: 3em;
    margin: 10px;
}
.header h1 i {
    font-size: 3em;
    margin-top: 20px;
}
.header h2 {
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
}

.content {
    max-width: 60%;
    min-width: 300px;
    margin: 0px auto;
    display: block;
    padding-top: 30px;

}
.content img {
    display: block;
    margin: 0px auto;
}

/*---------------Index--------------*/



input {
    width: 200px;
    padding: 10px;

    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color:rgba( 0 , 0 , 50 ,.3);

    font-family: "Helvetiva Neue","Arial";
    font-size: 1em;
    margin: 5px 10px;
    outline:none;

}
input:focus     {
    border-color:rgba( 0 , 0 , 50 ,.6);
}

input[type="submit"] {
    background-color: #0A0E14;
    color:#FAFAFA;
    font-family: "Raleway","Helvetiva Neue","Arial";
    opacity: .85;

}
input[type="submit"]:hover {
    opacity: .8;

}
input[type="submit"]:active {
        opacity: .75;
}
input[type=checkbox] {
    display: none;
}
label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left:28px;
    font-size: 15px;
    line-height: 20px;
}
label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: none;
    border-radius: 5px;
    border:rgba( 0 , 0 , 50 ,.3) 2px solid;
}
input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 15px;
    color: rgba( 0 , 0 , 50 ,.6);
    text-align: center;
    line-height: 16px;
    border-color:rgba( 0 , 0 , 50 ,.6);
}

.centeredList
 {
    text-align: center;
    list-style: none;
    padding: 0px!important;
 }

 .centeredList li {
    display: inline;
 }
.submit {
    margin-top: 30px;
}

/*---------------FOOTER--------------*/

.footer {

    width:70%;
    margin: 5px auto;
    padding-top: 30px;
    display: block;
    font-size: .7em;
    font-weight: 800;
    text-align: center;
    line-height: 180%
}
.footer p{
    margin:0px 0px;
}
.footer a {
    text-decoration: underline;
}

/*---------------RESULT--------------*/

.result {
   text-align: center;
   width: 170px;
   margin: 15px 15px;
}
.result li {
    display: block;
    float: left;
    margin: 15px;

    font-weight: 400;
    font-size: 2em!important;
}

/*------------------Overlay---------------------*/

#error   {
    background: #FF2D55;
    text-align: center;
    padding: 5px 20px;
    color: #FFF;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    font-weight: 600;
    width: 400px;
}

@media only screen and (max-width: 450px) {
    .backLink {
        display: none;
    }

    #error {
        width: 200px;
    }
}
