<html>
  <head>
    {% if title %}
    <title>{{title}} - Passworts</title>
    {% else %}
    <title>Password-Generator</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/img/favicon.ico" type="image/x-icon">

  </head>
  <body>

  <div class="header">
    <h1><a href="/"><i class="fa fa-unlock-alt" id="icon" onmouseover="change()" onmouseout="rechange()"></i></a></h1>
    <h1><a href="/">Passworts</a></h1>
    <h2>Smart passwords, easy to keep in mind</h2>
  </div>

  <script type="text/javascript">
  function change() {
    var icon = document.getElementById("icon");
    icon.className="fa fa-lock";
  }
  function rechange() {
    var icon = document.getElementById("icon");
    icon.className="fa fa-unlock-alt";
  }
  </script>
    {% block content %}
    {% endblock %}


  </body>
</html>