<html>
  <head>
    {% if title %}
    <title>{{title}} - Password-Generator</title>
    {% else %}
    <title>Password-Generator</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css'>
  </head>
  <body>

  <div class="header">
    <h1><a href="/"><i class="fa fa-unlock-alt"></i></a></h1>
    <h1><a href="/">Passworts</a></h1>
    <h2>Smart passwords, easy to keep in mind</h2>
  </div>

    {% block content %}
    {% endblock %}


  </body>
</html>