<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<div class="content">
<form action="" method="POST" name="request">
	{{form.hidden_tag()}}
	<ul class="centeredList">
	<li>{{form.pw_length(placeholder="Length")}}</li>
	<li>{{form.pw_count(placeholder="Count of passwords")}}</li>
	</ul>

	<ul class="centeredList submit">
	<input type="submit" value="Generate" size=50px>
	</ul>

	{% for error in form.errors.pw_length %}
		<span style="color: red;">[{{error}}]</span>
	{% endfor %}<br>
	{% for error in form.errors.pw_count %}
		<span style="color: red;">[{{error}}]</span>
	{% endfor %}<br>

</form>
</div>	

  <div class="footer">
    <hr>
    <p>Passworts is a project by <a href="http://github.com/Stunkymonkey/">Stunkymonkey</a> and <a href="http://cookingrobot.de">CookingRobot</a></p>
    <p>Its written in Python using <a href="http://flask.pocoo.org/">Flask</a>. Available at <a href="http://github.com/Stunkymonkey/pw-generator">Github</a></p>
  </div>
{% endblock %}