<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="header">
	<h1><i class="fa fa-unlock-alt"></i></h1>
	<h1>Passworts</h1>
	<h2>Smart passwords, easy to keep in mind</h2>
</div>


<div class="content">
<form action="" method="POST" name="request">
	{{form.hidden_tag()}}
	<ul class="centeredList">
	<li>{{form.pw_length(placeholder="Length")}}</li>
	<li>{{form.pw_count(placeholder="Count of passwords")}}</li>
	</ul>

	<ul class="centeredList submit">
	<input type="submit" value="Generate" size=50px>
	</ul>

	{% for error in form.errors.pw_length %}
		<span style="color: red;">[{{error}}]</span>
	{% endfor %}<br>
	{% for error in form.errors.pw_count %}
		<span style="color: red;">[{{error}}]</span>
	{% endfor %}<br>

</form>
</div>	
{% endblock %}