
body {
    background-color: #FAFAFA;
    color: #0A0E14;

    padding: 0px;
    margin:0px;

    font-family: "Raleway","Helvetiva Neue","Arial";
}

a {
    text-decoration:none;
    color: #0A0E14;
}

.backLink {
    background-color: #0A0E14;
    color:#FAFAFA;
    font-family: "Raleway","Helvetiva Neue","Arial";
    opacity: .85;
    border-radius: 3px; 

    position: absolute;
    top:15px;
    left:15px;
    padding: 7px 10px;
}

.backLink i{
    margin-right: 5px;
}

/*---------------MAIN--------------*/



.header {
    width: 70%;
    margin: 0px auto;
    display: block;

}
.header h1 {
    text-align: center;
    font-weight: 300;
    font-size: 3em;
    margin: 10px;
}
.header h1 i {
    font-size: 3em;
    margin-top: 20px;
}
.header h2 {
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
}

.content {
    width: 50%;
    margin: 0px auto;
    display: block;
    padding-top: 30px;

}
.content img {
    display: block;
    margin: 0px auto;  
}

/*---------------Index--------------*/



input {
    width: 200px;
    padding: 10px;

    border-radius: 5px; 
    border-width: 2px;
    border-style: solid;
    border-color:rgba( 0 , 0 , 50 ,.3); 

    font-family: "Helvetiva Neue","Arial";
    font-size: 1em;
    margin: 5px 10px;
    outline:none;

}
input:focus     {
    border-color:rgba( 0 , 0 , 50 ,.6); 
}

input[type="submit"] {
    background-color: #0A0E14;
    color:#FAFAFA;
    font-family: "Raleway","Helvetiva Neue","Arial";
    opacity: .85;

}
input[type="submit"]:hover {
    opacity: .8;

} 
input[type="submit"]:active {
        opacity: .75;

} 

.centeredList
 {
    text-align: center;
    list-style: none;
    padding: 0px!important;
 }

 .centeredList li {
    display: inline;    
 }
.submit {
    margin-top: 30px;   
}

/*---------------FOOTER--------------*/

.footer {

    width:70%;
    margin: 5px auto;
    padding-top: 30px;
    display: block;
    font-size: .7em 
    font-weight:800;
    text-align: center;
    line-height: 180%

}
.footer p{
    margin:0px 0px;
}
.footer a {
    text-decoration: underline;
}

/*---------------RESULT--------------*/

.result {
   text-align: center;
   width: 170px;  
   margin: 15px 15px;
}
.result li {
    display: block;
    float: left;
    margin: 15px;

    font-weight: 400;
    font-size: 2em!important;
}

/*------------------Overlay---------------------*/

#error   {
    background: #FF2D55;
    text-align: center;
    padding: 5px 30px;
    color: #FFF;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    font-weight: 600;
}